@charset "ISO-8859-1";



.split {
       height: 83%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 68px;
    overflow-x: hidden;
    padding-top: 20px;
    }

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}